@import 'https://fonts.googleapis.com/css?family=Kantumruy:300,400,700|Rubik+One|Rubik:300,400,900&subset=khmer';
@media only screen and (max-width: 500px) {
   .question {
      height: 5vh!important;
      display: block;
   }
   .answer {
      font-size: 2vh!important;
      height: 7rem!important;
   }
}

noscript div {
   background-color: rgba(244, 67, 54, 1);
   color: #fff;
   font: 400 5vw/1.33em 'Rubik', 'Kantumruy';
   font-variant-ligatures: common-ligatures;
   -moz-font-feature-settings: "liga", "clig";
   -webkit-font-feature-settings: "liga", "clig";
   font-feature-settings: "liga", "clig";
}

body {
   background: rgba(33, 150, 243, 1);
   padding: 1vh 5vw;
   margin: 0;
   font: 400 5vw/1.33em 'Rubik', 'Kantumruy';
   color: rgba(51, 51, 51, 1);
   text-shadow: 0 0x 1px rgba(63, 81, 181, 1);
}

.footer {
   position: fixed;
   bottom: 0;
   float: right;
   font-size: small;
   color: #ffffff;
}

section {
   display: block;
   margin-top: 1em;
}

.centerDiv {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 90vw;
   height: 90vh;
}

.btn {
   position: relative;
}

.box {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 80vw;
   height: 90vh;
   -webkit-transition: box-shadow 0.8s ease, width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
   -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   transition: box-shadow 0.8s ease, width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transform-origin: 50% 50%;
   -ms-transform-origin: 50% 50%;
   transform-origin: 50% 50%;
}

.headline {
   font-size: 6vw;
   color: rgba(255, 255, 255, .8);
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
.headline {
   font-size: 6vw;}
   }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
   .headline {
   font-size: 4vw;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
   .headline {
   font-size: 3vw;}
   }


.khmer {
   font-size: 90%;
   line-height: 1.8em;
   letter-spacing: 0;
}

.question {
   height: 20vh;
   width: 100%;
   color: rgba(255, 255, 255, .8);
}

.answer {
   display: block;
   ;
   font-family: 'Rubik', 'Kantumruy', 'FontAwesome';
   font-size: 2vw;
   position: relative;
   height: 7rem;
   overflow-x: none;
   color: rgba(255, 255, 255, .8);
   word-break: keep-all;
}

.clear {
   clear: all;
}

.center {
   text-align: center;
}

.numberInput {
   font-weight: 900;
   color: rgba(255,255,255, 1);
   display: block;
   outline: none;
   -webkit-appearance: none;
   border: none;
   border-bottom: .1em solid rgba(187, 222, 251, 1);
   background-color: transparent;
   width: 100%;
   padding: 2vh 2vw;
   font-size: 4vw;
   text-align: center;
   font-variant-numeric: tabular-nums;
   -moz-font-feature-settings: "tnum";
   -webkit-font-feature-settings: "tnum";
   font-feature-settings: "tnum";
}

.results {
   position: absolute;
   line-height: 1.8em;
   background: none;
   width: 100%;
   border: none;
   height: 700px;
   resize: none;
   user-select: all;
   overflow-x: none;
   cursor: grab;
   border-bottom: 2px solid white!important;
}

.resultsen {
   position: absolute;
   line-height: 1.8em;
   background: none;
   width: 100%;
   border: none;
   height: 700px;
   resize: none;
   user-select: all;
   overflow-x: none;
}

.results:active {}

input[type="text"]:focus {
   background: rgba(187, 222, 251, .8);
}

input[type="textarea"] {
   user-select: all;
}

::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   color: rgba(187, 222, 251, 1);
   font-size: 3vw;
   font-weight: 400;
}

::-moz-placeholder {
   /* Firefox 19+ */
   color: rgba(187, 222, 251, 1);
   font-size: 3vw;
   font-weight: 400;
}

:-ms-input-placeholder {
   /* IE 10+ */
   color: rgba(187, 222, 251, 1);
   font-size: 3vw;
   font-weight: 400;
}

:-moz-placeholder {
   /* Firefox 18- */
   color: rgba(187, 222, 251, 1);
   font-size: 3vw;
   font-weight: 400;
}

::-moz-selection {
   /* Code for Firefox */
   color: #fff;
   background: rgba(255, 234, 0, 1);
}

::selection {
   color: #fff;
   background: rgba(51, 51, 51, .8);
}
